@model IEnumerable<WebUI.Models.Email>

@{
    ViewBag.Title = "Emails";
}

<h2>Emails</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recipiant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceivedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.BodyText)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recipiant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceivedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.BodyText)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
        </td>
    </tr>
}

</table>
